.folder-list {
  display: flex;
}
.folder {
  text-decoration: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  cursor: pointer;
}
.folder span {
  color: green;
}
.locked {
  pointer-events: none;
}
